/* general */

@font-face {
  font-family: "Poppins";
  src:
    local("Poppins-SemiBold"),
    local("Poppins-SemiBold"),
    url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    local("Poppins-Medium"),
    local("Poppins-Medium"),
    url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    local("Poppins-Regular"),
    local("Poppins-Regular"),
    url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    local("Poppins-Light"),
    local("Poppins-Light"),
    url("../fonts/Poppins-Light.woff2") format("woff2"),
    url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* variables */

:root {
  /* rgba(215, 236, 246), #D7ECF6  цвет заднего фона аватарки*/

  /* colors */
  --color-light: #ffffff;
  --color-primary: #6dbde1;
  --color-primary-light: #addff0;
  --color-active: #45addd;
  --color-text: #555555;
  --color-border: #353535;
  --color-background: #e9e9e9;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-dark: #000000;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
.btn {
  transition: all 0.3s ease;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.84rem + 0.18vw, 1rem);
  line-height: 2rem;
  color: var(--color-dark);
}

p {
  color: var(--color-text);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  padding: 0 75px;
  margin: 0 auto;
}

/* header */

.header {
  box-shadow: 0px 5px 40px var(--color-shadow);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 75px;
}

.title {
  /* font-size: 2.5rem; */
  font-size: clamp(1.25rem, 0.9rem + 1.8vw, 2.5rem);
  text-align: center;
  margin-bottom: 64px;
}

.header__title {
  margin-bottom: 0;
  font-size: clamp(1.25rem, 1rem + 1vw, 2rem);
}

.header__title:focus-visible {
  outline: 0;
  outline-offset: 3px;
  outline: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.header__title:hover:not(:focus-visible) {
  color: var(--color-primary);
}

.header__title:active:not(:focus-visible) {
  color: var(--color-active);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 32px;
}

.nav__link {
  font-size: clamp(1.125rem, 1rem + 0.54vw, 1.5rem);
}

.nav__link:focus-visible {
  outline: 0;
  outline-offset: 3px;
  outline: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.nav__link:hover:not(:focus-visible) {
  color: var(--color-primary);
  text-decoration: underline;
  text-underline-offset: 16px;
  text-decoration-color: var(--color-primary);
}

.nav__link:active:not(:focus-visible) {
  color: var(--color-active);
  text-decoration: underline;
  text-underline-offset: 16px;
  text-decoration-color: var(--color-active);
}

/* burger menu */

.burger {
  display: none;
  position: relative;
  width: 45px;
  height: 22px;
  padding: 5px;
  z-index: 20;
}

.burger:focus-visible {
  outline: 0;
  outline-offset: 3px;
  outline: 2px solid var(--color-primary);
}

/* button upward */
.progress {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 70px;
  height: 70px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--color-primary);
  cursor: pointer;
  z-index: 100;
}

.progress__value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: var(--color-light);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--color-dark);
}

/* section profile */

.section {
  padding-top: 112px;
  padding-bottom: 112px;
}

.profile__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.profile__image {
  width: 75%;
  height: auto;
}

.profile__descr {
  font-weight: 600;
  text-align: center;
}

.profile__text {
  /* font-size: 1.2rem;   */
  font-size: clamp(0.9rem, 0.85rem + 0.45vw, 1.25rem);
  margin-bottom: 32px;
}

.profile__title {
  /* font-size: 3rem;    */
  font-size: clamp(1.5rem, 1rem + 2vw, 3rem);
  margin-bottom: 32px;
}

.profile__prof {
  /* font-size: 1.75rem;   */
  font-size: clamp(1.125rem, 0.95rem + 0.9vw, 1.75rem);
  margin-bottom: 32px;
}

.btn {
  min-width: 160px;
  padding: 16px;
  border: 1px solid var(--color-border);
  border-radius: 32px;
  font-weight: 600;
  text-align: center;
  line-height: 2rem;
  transition: all 300ms ease;
}

.btn-dark {
  display: inline-block;
  background-color: var(--color-border);
  color: var(--color-light);
}

.download {
  margin-right: 32px;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--color-border);
  color: var(--color-light);
}

.btn:active:not(:focus-visible) {
  border: 1px solid var(--color-border);
  background-color: var(--color-text);
  color: var(--color-light);
}

.btn-dark:hover,
.btn-dark:focus-visible {
  background-color: var(--color-light);
  color: var(--color-border);
}

.profile__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 32px;
}

.social__item {
  transition: all 0.3s ease;
}

.social__item a:focus-visible {
  outline: 0;
  outline-offset: 3px;
  outline: 2px solid var(--color-primary);
  filter: invert(78%) sepia(22%) saturate(1466%) hue-rotate(168deg)
    brightness(94%) contrast(86%);
}

.social__item:hover:not(:focus-visible) {
  filter: invert(78%) sepia(22%) saturate(1466%) hue-rotate(168deg)
    brightness(94%) contrast(86%);
}

.social__item:active:not(:focus-visible) {
  filter: invert(67%) sepia(54%) saturate(1884%) hue-rotate(168deg)
    brightness(94%) contrast(83%);
}

.icon {
  height: 32px;
}

/* section about */

.about__wrap {
  display: grid;
  grid-template-columns: 35% 1fr;
  gap: 80px;
  align-items: center;
}

.about__image {
  width: 100%;
}

.about__text {
  text-align: justify;
}

.about__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, auto));
  gap: 32px;
  margin-bottom: 32px;
}

.about__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 32px;
  padding: 16px;
}

.about__icon {
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__icon--study {
  background-image: url("../images/exrerience.png");
}

.about__icon--projects {
  background-image: url("../images/projects.png");
}

.about__icon--codewars {
  background-image: url("../images/codewars.png");
}

.about__icon--languages {
  background-image: url("../images/languages.png");
}

/* section skills */

.skills__list {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(384px, auto));
  column-gap: 80px;
  row-gap: 32px;
  width: 100%;
}

.skills__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 8px;
  font-size: clamp(1rem, 0.9rem + 0.45vw, 1.3rem);
}

.skills__info span:nth-child(2) {
  font-weight: 500;
}

.skills__bar {
  position: relative;
  width: 100%;
  height: 16px;
  border-radius: 24px;
  background-color: var(--color-shadow);
}

.skills__progress {
  position: absolute;
  width: 100%;
  height: 16px;
  border-radius: 32px;
  background: linear-gradient(
    90deg,
    var(--color-primary-light) 0%,
    var(--color-primary) 100%
  );
}

.html {
  width: 90%;
  animation: html 2s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

.css {
  width: 68%;
  animation: css 2s;
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 68%;
  }
}

.js {
  width: 15%;
  animation: js 2s;
}

@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 15%;
  }
}

.git {
  width: 50%;
  animation: git 2s;
}

@keyframes git {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

.scss {
  width: 70%;
  animation: scss 2s;
}

@keyframes scss {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.figma {
  width: 30%;
  animation: figma 2s;
}

@keyframes figma {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

/* section code */
/* .code__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 80px;
}

.code__item {
  position: relative;
  border: 1px solid var(--color-border);
  border-radius: 16px;
  padding: 16px;
  margin: 0;
  line-height: 1.2rem;
  flex-grow: 1;
  flex-basis: calc(40% - 40px);
}

.code__item::after {
  position: absolute;
  top: -16px;
  left: 48px;
  background-color: white;
  padding: 8px 16px;
  border: 1px solid var(--color-border);
  border-radius: 16px;
  font-size: 1.5rem;
}

.code__item--js::after {
  content: "JavaScript";
}

.code__item--result::after {
  content: "Result";
}

.code__item--result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code__text {
  display: block;
  overflow-x: auto;
}

.card {
  width: 272px;
  height: 272px;
  padding: 16px;
  background-color: var(--color-light);
  margin: 16px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px grey;
  margin-bottom: 32px;
}

.card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

/* section projects */

.projects__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 32px;
}

.projects__item {
  padding: 32px;
  border: 1px solid var(--color-border);
  border-radius: 16px;
  transition: all 0.3s ease;
}

.projects__item:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 30px var(--color-primary);
  border: 1px solid var(--color-primary);
}

.projects__wrap {
  margin-bottom: 32px;
}

.projects__image {
  border-radius: 16px;
}

.box {
  text-align: center;
}

.box__title {
  font-size: clamp(1rem, 0.9rem + 0.45vw, 1.3rem);
}

.box__descr {
  margin-bottom: 32px;
}

.box__btn {
  min-width: 128px;
  padding: 11px;
}

.box__buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

/* section education */
.education__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, auto));
  row-gap: 32px;
  column-gap: 80px;
}

.education__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 32px;
  padding: 32px;
  position: relative;
  text-align: center;
}

.case__link {
  color: var(--color-text);
}

.case__link:focus-visible {
  outline: 0;
  outline-offset: 3px;
  outline: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.case__link:hover:not(:focus-visible) {
  color: var(--color-primary);
}

.case__link:active:not(:focus-visible) {
  color: var(--color-active);
}

/* contacts section */

.contacts__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 80px;
}

.contacts__address {
  flex-grow: 1;
  flex-basis: calc(40% - 40px);
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  height: 100%;
  font-size: clamp(0.9rem, 0.8rem + 0.45vw, 1.17rem);
  border: 1px solid var(--color-border);
  border-radius: 16px;
  padding: 48px;
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 32px;
  font-style: normal;
}

.contacts__icon {
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__icon--location {
  background-image: url("../images/location.png");
}

.contacts__icon--phone {
  background-image: url("../images/call.png");
}

.contacts__icon--mail {
  background-image: url("../images/email.png");
}

.contacts__icon--discord {
  background-image: url("../images/discord.png");
}

.contacts__item p {
  color: var(--color-dark);
}

.contacts__item a:focus-visible {
  outline: 0;
  outline-offset: 3px;
  outline: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.contacts__item a:hover:not(:focus-visible) {
  color: var(--color-primary);
}

.contacts__item a:active:not(:focus-visible) {
  color: var(--color-active);
}

.form {
  border: 1px solid var(--color-border);
  border-radius: 16px;
  padding: 32px;
  text-align: center;
  flex-grow: 1;
  flex-basis: calc(40% - 40px);
}

.form__title {
  margin-bottom: 24px;
}

.form__input {
  width: 100%;
  min-width: 320px;
  height: 50px;
  margin-bottom: 24px;
  padding: 27px;
  border: none;
  border-radius: 16px;
  background-color: var(--color-background);
}

.form__input:focus-visible,
.form__input:active:not(:focus-visible) {
  outline: 0;
  outline: 1px solid var(--color-primary);
}

.form__input:hover:not(:focus-visible)::placeholder {
  color: var(--color-primary);
}

.form__textarea {
  resize: none;
  height: 160px;
  padding-bottom: 112px;
  margin-bottom: 24px;
}

.form__box {
  position: relative;
}

.form__box .just-validate-error-label {
  position: absolute;
  bottom: 50px;
  left: 24px;
  font-size: clamp(0.56rem, 0.53rem + 0.18vw, 0.7rem);
}

/* footer */

.footer {
  box-shadow: 0px 5px 40px var(--color-shadow);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 75px;
}

.footer__logo {
  width: 128px;
}

.social__list {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 32px;
}
